{% extends 'main/base.html' %}
{% block content %}
<!-- si es usuario tipo alumno -->
{% if request.session.tipo == 1 %}
   <div id="map"></div>


    <script>
      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.457785, lng: -70.663950};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: beau850
        });
        infoWindow = new google.maps.InfoWindow;

        var info;

        var infoVendedor = new google.maps.InfoWindow({
          content: info,
          maxWidth: 400
        });

        var v = "{{vendedores}}"; //nombre, avatar, lat, longitud, id, categorias, favorito, formasDePago
          //                        [0]        [1]  [2]     [3]    [4]     [5]        [6]         [7]
        var arreglo_v = v.split(";");
        markers = [];
        for (i = 0; i<arreglo_v.length; i++) {
            var vendedor = arreglo_v[i].split(",");
            var nuevo;
//            alert(vendedor[6]);
            if (vendedor[6] == "si"){
                var nuevo = new google.maps.Marker({
                position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                map: map,
                icon: '../static/img/star.png'
            });
            } else {
                var nuevo = new google.maps.Marker({
                position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                map: map
            });
            }
            markers.push(nuevo);
        }
        for (i = 0; i<markers.length; i++) {
            var vendedor = arreglo_v[i].split(",");
            var info_vendedor = cuerpoDelInfowindow(vendedor);
            markers[i].infowindow = new google.maps.InfoWindow({
              content: info_vendedor
            });
            google.maps.event.addListener(markers[i], 'click', function() {
                this.infowindow.open(map, this);
            });
        }

        // posicion actual
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }

      function cuerpoDelInfowindow(vendedor) {
          var info = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div class="row"><p style="float: left;"><img src="../static/media/'+ vendedor[1] +'" width="50" hspace="10"></p>' +
            '<h4>'+ vendedor[0] +'</h4></div>'+ //vendedor
//            '<p style="color:#029500;"> Disponible</p>' +
//            '<div id="bodyContent">'+
//            '<p>Vendedores de almuerzo</p>'+
//            '<p><i>Menú de hoy:</i> Lasaña</p>' +
            '<div class="row">'+
            '<p><b><i>Formas de pago:  </i>' + String(vendedor[7].split("$")) + '</b></p>' +
            '</div>'+
//            '<p><i><b>Categorías:  </b></i>' + categoriasVendedor(vendedor[5]) + '</p>' +
//            '<p><i>Horario:</i> 12:30-14:15</p>' +
//            '<p><input type="checkbox" class="filled-in" id="test" checked="checked" />' +
//            '<label for="test">Favorito</label></p>' +
                  '<div class="row">'+
            "<form method = \"GET\" action =\"{% url 'vistaVendedor' %}\">{% csrf_token %}" +
            '<input type = "hidden" value =' + vendedor[4] +' name="id" id="id">' +
            '<button style="float: right;" type = "submit">Ver ficha del vendedor</button>' +
            '</form>' +

            '</div>'+
            '</div>';
          return info;
      }

      function categoriasVendedor(categorias_raw) {
          var arreglo_categorias = categorias_raw.split(":");
          var categorias = [];
          for (i=0; i<arreglo_categorias.length; i++) {
              categorias.push(arreglo_categorias[i].split("#")[0]);
          }
          return categorias;
      }

      function agregarMarcadoresfiltrados(categorias) {
            var v = "{{vendedores}}"; //nombre, avatar, lat, longitud, id, categorias
            var arreglo_v = v.split(";");
            arreglo_v = filtrarVendedores(arreglo_v,categorias);
            for (i = 0; i<arreglo_v.length; i++) {
                var vendedor = arreglo_v[i].split(",");
                var nuevo;
//            alert(vendedor[6]);
                if (vendedor[6] == "si"){
                    var nuevo = new google.maps.Marker({
                    position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                    map: map,
                    icon: '../static/img/star.png'
                });
                } else {
                    var nuevo = new google.maps.Marker({
                    position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                    map: map
                });
                }
                markers.push(nuevo);
            }

            for (i = 0; i<markers.length; i++) {
                var vendedor = arreglo_v[i].split(",");
                var info_vendedor = cuerpoDelInfowindow(vendedor);

                markers[i].infowindow = new google.maps.InfoWindow({
                  content: info_vendedor
                });
                google.maps.event.addListener(markers[i], 'click', function() {
                    this.infowindow.open(map, this);
                });
            }
      }

      function filtrarVendedores(vendedores,categorias) {
          var vendedores_filtrados = [];
          var categorias_string = categorias.toString();
          for (i = 0; i<vendedores.length; i++) {
              var condicion = false;
              var categorias_vendedor = vendedores[i].split(",")[5].split(":");
              for (j = 0; j< categorias_vendedor.length; j++) {
                  if (categorias_string.indexOf(categorias_vendedor[j].split("#")[0]) != -1 && categorias_vendedor[j].split("#")[1] != "0") {
                      condicion = true;
                      break;
                  }
              }
              if (condicion) {
                  vendedores_filtrados.push(vendedores[i]);
              }
          }
          return vendedores_filtrados;
      }

      function deleteMarkers() {
          for (i = 0; i<markers.length; i++) {
              markers[i].setMap(null);
          }
          markers = [];
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
//        infoWindow.setPosition(pos);
//        infoWindow.setContent(browserHasGeolocation ?
//                              'Error: The Geolocation service failed.' :
//                              'Error: Your browser doesn\'t support geolocation.');
//        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDilbsVtQUD7bOOlJwGMRF4jV8rz3H5E6c&callback=initMap">
    </script>
{% endif %}

<!-- si es usuario tipo vendedor -->
{% if request.session.tipo == 3 or request.session.tipo == 2 %}
{#    Perfil del vendedor           #}
    <main>
    <div class="container">

        <div id="profile-page-header" class="card">
            <!-- Fondo del vendedor -->
            <div class="card-image waves-effect waves-block waves-light">
                <img class="activator" src="../static/img/food-background3.png" alt="user background">
            </div>

            <!-- Imagen del perfil en pantallas grandes -->
            <div class="row hide-on-small-and-down">
                <a class="card-profile-image-large">
                    <img style="margin-top: 20%;" id="img-perfil-desktop" src="" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>

            <!-- Imagen del perfil en pantallas medianas/pequeñas -->
            <div class="row show-on-small hide-on-med-and-up">
                <a class="card-profile-image-small">
                    <img id="img-perfil-movil" src="" alt="profile image" class="circle z-depth-2 responsive-img activator">
                </a>
            </div>

            <!-- Info del vendedor desktop -->
            <div class="card-content s12 offset-s1">
                <div class="row">
                    <div class="col s3 offset-s2 hide-on-med-and-down">

                        <!-- Nombre -->
                        <h4 class="card-title grey-text flow-text text-darken-4">{{request.session.nombre}}</h4>

                        <!-- Tipo -->
                        <p class="medium-small flow-text grey-text">{% if request.session.tipo == 3 %}Vendedor Ambulante {% endif %} {% if request.session.tipo == 2 %} Vendedor Fijo {% endif %}</p>

                    <!-- Horario -->
                        {% if request.session.tipo == 2 %}
                    <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                        &ensp;Horario: <a class="light-green-text">{{request.session.horarioIni}} - {{request.session.horarioFin}}</a>
                    </p>
                            {% endif %}

                    </div>
                    <!-- Estado -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h4 class="card-title flow-text text-darken-4">Estado</h4>
                        <p class="" id="estado-desktop"></p>
                    </div>
                    <!-- Formas de pago -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <h3 class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</h3>
                        <p class="medium-small flow-text grey-text" id="medios-pago-desktop"></p>
                    </div>

                    <!-- Favoritos -->
                    <div class="col s3 l2 hide-on-med-and-down center-align">
                        <div class="switch" style="margin-left: 10px;">
                            <label>
                                <h4 class="card-title grey-text flow-text text-darken-4">Favoritos</h4>
                                <!--<input type="checkbox"><span class="lever"></span>-->
                                <h6><i class="material-icons amber-text" >grade</i>
                                    <span class=" grey-text flow-text text-darken-4"style="font-size:24px; line-height:35px;" id="favoritos-desktop"></span>
                                </h6>
                            </label>
                        </div>
                    </div>
                </div>

                <!-- Boton para Editar -->
                {% comment %}<div class="col s3 l2 hide-on-med-and-down right-align">
                    <a class="btn-floating activator waves-effect waves-light darken-2">
                          <i class="material-icons">mode_edit</i>
                      </a>
                 </div>{% endcomment %}

            </div>

            <!-- Info del vendedor movil -->
            <div class = "row show-on-medium-and-down hide-on-med-and-up"></div>
            <div class = "row show-on-medium-and-down hide-on-med-and-up"></div>
            <div class = "row show-on-medium-and-down hide-on-med-and-up"></div>
            <div class = "row show-on-medium-and-down hide-on-med-and-up"></div>
            <div class="row show-on-medium-and-down hide-on-med-and-up">
                <div class="col s2 m2 offset-s1">

                    <!-- Nombre -->
                    <h4 class="card-title grey-text flow-text text-darken-4">{{request.session.nombre}}</h4>

                    <!--  -->
                    <p class="medium-small flow-text grey-text">&ensp;{% if request.session.tipo == 3 %}Vendedor Ambulante {% endif %} {% if request.session.tipo == 2 %} Vendedor Fijo {% endif %}</p>
{#                        <p class="flow-text text-darken-4" style="font-size: 0.88rem;">#}
{#                            &ensp;Horario: <a class="light-green-text">12:30-14:15</a>#}
{#                        </p>#}

                </div>
                 <!-- Horario -->
                        {% if request.session.tipo == 2 %}
                    <p class="flow-text text-darken-4" style="font-size: 0.88rem;">
                        &ensp;Horario: <a class="light-green-text">{{request.session.horarioIni}} - {{request.session.horarioFin}}</a>
                    </p>
                            {% endif %}

                <!-- Estado -->
                <div class="col s2 m2 l12 offset-s1">
                    <p class="flow-text text-darken-4">Estado </p>
                    <p class="" id="estado-movil"></p>
                </div>


                <!-- Formas de pago -->
                <div class="col s3 m2 l12 offset-s1"> <!--offset-s2-->
                    <p class=" grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Formas de pago</p>
                    <p class="medium-small flow-text grey-text" id="medios-pago-movil"></p>
                </div>

                <!-- Favoritos -->
                <div class="col s1 m1 l12">
                    <label>
                        <p class="card-title grey-text flow-text text-darken-4" style="font-size: 1.3rem;">Favoritos</p>
                        <!--<input type="checkbox"><span class="lever"></span>-->
                        <h6><i class="material-icons amber-text" style="margin-left: 80%">grade</i>
                            <span class=" grey-text flow-text text-darken-4"style="margin-left: 100%;font-size:22px; line-height:25px;" id="favoritos-movil"></span>
                        </h6>
                    </label>
                </div>
            </div>
        </div>
    </div>


    {% if request.session.tipo == 2 or request.session.tipo == 3  %}
      <div id="profile-page-content" class="row">
        <div id="profile-page-wall" class="col s12 m8">
            <div class="col s12 z-depth-1">
                <div class="tab-content col s12">
                    <div class="container">
                        <div class="section">
                            <div class="row">
                                <!-- Aca se definen los modales -->
                                <!-- aca comienzan a mostrarse los productos -->
                                <!--Este script es para ordenar el listado de productos -->
                                        <script>
                                            var productos ={{ listaDeProductos|safe }};
                                            var largo = productos.length;
                                            //imprimir en pantalla todas las tarjetas de productos
                                            for (var i = 0; i < largo; i++)  {
                                                document.write(" <div class='col s6 m12 l4'>");
                                                document.write("<div class='container'>");
                                                document.write(" <div class='card z-depth-1'>");
                                                document.write("<div class='teal lighten-2 card-image waves-effect waves-block waves-light'>");
                                                document.write("<form method='GET' action='{% url 'editarproductos' %}'>")
                                                document.write("<input type='hidden' name ='nombre' id='nombre' value='"+productos[i][0]+"'>");
                                                document.write("<button style='position: absolute; bottom: 4.5em; right: 0.5em; padding: 0 0 !important;' class='btn-floating btn-large '' type='submit'>");
                                                document.write("<i class='large material-icons'>mode_edit</i>");
                                                document.write("</button></form>")
                                                document.write("<img class='activator responsive-img center-block'  style='max-width: 30%; margin-top:20px; margin-bottom:20px;height: 100px; width: 100px;' src ='../static/media/"+productos[i][5]+"'>");
                                                document.write("</div>");
                                                document.write(" <div class='card-content'>");
                                                document.write("<span class='card-title activator grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>more_vert</i></span>");
                                                document.write("<p><a class='teal-text'> $"+productos[i][3]+" </a></p>");
                                                document.write("<p><a class='row col l5' id='Stock-"+productos[i][0]+"' class='teal-text'> Stock :"+productos[i][2]+" </a>");
                                                document.write("<div class='row' ></div>");
                                                document.write("<div class='col s3 m4' ></div>");
                                                document.write('<button class=" btn btn-large waves-effect button teal" id="Button--'+productos[i][0]+'" type="button" onclick ="bajarStock('+"\'"+productos[i][0]+"\'"+' );"   >-</button> <button class="btn btn-large waves-effect button teal" id="Button-'+productos[i][0]+'" type="button" onclick ="subirStock('+"\'"+productos[i][0]+"\'"+' );"   >+</button></p>');
                                                document.write("</div>");
                                                document.write(" <div class='card-reveal'>");
                                                document.write(" <span class='card-title grey-text text-darken-4'> "+productos[i][0] +" <i class='material-icons right'>close</i></span>");
                                                document.write(" <ul>");
                                                document.write(" <li>Precio: <a class='green-text light-green-text'> $"+productos[i][3]+" </a></li>");
                                                document.write("<li>Categoria: "+productos[i][1]+" </li>");
                                                document.write("<li>Stock: "+productos[i][2]+" </li>");
                                                document.write("<li>Descripcion: "+productos[i][4]+" </li>");
                                                document.write(" </ul></div></div></div></div>");
                                            }

                                            </script>
                            </div>
                        </div>

                    </div>

                </div>
                <div class='row'>
                    <a class='col l5 offset-l4 btn btn-large waves-effect button teal' href="{% url 'agregarproductos' %}">Agregar Item</a>
                </div>
            </div>
        </div>
          </main>
    {% endif %}
<script>
    function ProfileImg() {
        var str = "../static/media/";
        var ruta = str.concat("{{request.session.avatar}}");
        document.getElementById("img-perfil-desktop").src = ruta;
        document.getElementById("img-perfil-movil").src = ruta;
    }
    function EstadoVendedor() {
        var estado = "{{ request.session.activo }}";
        if (estado == "True") {
            document.getElementById("estado-desktop").classList.add("medium-small","flow-text","light-green-text");
            document.getElementById("estado-desktop").innerHTML = "Disponible";

            document.getElementById("estado-movil").classList.add("medium-small","flow-text","light-green-text");
            document.getElementById("estado-movil").innerHTML = "Disponible";
        } else {
            document.getElementById("estado-desktop").classList.add("medium-small","flow-text","red-text");
            document.getElementById("estado-desktop").innerHTML = "No Disponible";

            document.getElementById("estado-movil").classList.add("medium-small","flow-text","red-text");
            document.getElementById("estado-movil").innerHTML = "No Disponible";
        }
    }
    function FormasDePago() {
        var rawPagos = "{{ request.session.formasDePago}}";
        var pagos = rawPagos.split(", ");
        var largo = pagos.length;
        var texto = "<ul>";
        for (var i = 0; i < largo; i++)  {
            texto += "<li>" + pagos[i] + "</li>";
        }
        document.getElementById("medios-pago-desktop").innerHTML = texto;
        document.getElementById("medios-pago-movil").innerHTML = texto;
    }
    function Favoritos() {
        var numeroFav = "{{ request.session.favoritos }}";
        document.getElementById("favoritos-desktop").innerHTML = numeroFav;
        document.getElementById("favoritos-movil").innerHTML = numeroFav;
    }


    function subirStock(id){
         var datos ="op=suma&nombre=" + id;
         $.ajax({
           url:{% url 'modificarStock' %},
           type: "GET",
           data: datos,
           dataType: "json",
           success: function(data) {
               var nuevoStock = parseInt(data.stock);
               nuevoStock +=1;
               document.getElementById("Stock-"+id).innerHTML = "Stock: "+nuevoStock;
               document.getElementById("Button-"+id).setAttribute("onclick",'subirStock('+"\'"+id+"\'"+' );');
           },
           error:function(data) {
               alert("error in getting from server");
           },
         });
    }

    function bajarStock(id){
                //crea la transaccion en la bdd
         var datosTransaccion="nombre=" + id + "&" + "idUsuario=" + "{{ request.session.id }}";
        $.ajax({
           url:"{% url 'createTransaction' %}",
           type: "GET",
           data: datosTransaccion,
           dataType: "json",
           success: function(data) {
//              alert("funciono");
           },
           error:function(data) {
               alert("error in getting from server");
           },
         });



        //restar en la bdd
        var datos ="op=resta&nombre=" + id;
         $.ajax({
           url:{% url 'modificarStock' %},
           type: "GET",
           data: datos,
           dataType: "json",
           success: function(data) {
               //alert("tambien funciono");
               var nuevoStock = parseInt(data.stock);
               if (nuevoStock != 0){
                nuevoStock -=1;
               }

               document.getElementById("Stock-"+id).innerHTML = "Stock: "+nuevoStock;
               document.getElementById("Button--"+id).setAttribute("onclick",'bajarStock('+"\'"+id+"\'"+' );');
           },
           error:function(data) {
               alert("error in getting from server");
           },
         });
    }




window.onload = Favoritos();
window.onload = FormasDePago();
window.onload = ProfileImg();
window.onload = EstadoVendedor();

</script>

{% endif %}


{% endblock %}