{% extends 'main/base.html' %}
{% block content %}

    <div id="map">
    </div>


    <script>

      function initMap() {
        var infoWindow;
        var beau850 = {lat: -33.457785, lng: -70.663950};
        map = new google.maps.Map(document.getElementById('map'), {
          zoom: 19,
          center: beau850
        });
        infoWindow = new google.maps.InfoWindow;

        var info = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div><p style="float: left;"><img src="../static/img/AvatarVendedor4.png" width="50" hspace="10"></p>'    +
            '<h4>Casino</h4></div>'+
            '<p style="color:#029500;"> Disponible</p>' +
            '<div id="bodyContent">'+
            '<p>Vendedores de almuerzo</p>'+
            '<p><i>Menú de hoy:</i> Lasaña</p>' +
            '<p><i>Formas de pago:</i> Efectivo, Tarjeta de Crédito o Débito, Junaeb</p>' +
            '<p><i>Horario:</i> 12:30-14:15</p>' +
            '<p><input type="checkbox" class="filled-in" id="test" checked="checked" />' +
            '<label for="test">Favorito</label></p>' +
            '<button style="text-align: right;" type="button">Click Me!</button>' +
            '</div>'+
            '</div>';

        var infoVendedor = new google.maps.InfoWindow({
          content: info,
          maxWidth: 400
        });

        var v = "{{vendedores}}"; //nombre, avatar, lat, longitud, id, categorias
        var arreglo_v = v.split(";");
        markers = [];
        for (i = 0; i<arreglo_v.length; i++) {
            var vendedor = arreglo_v[i].split(",");
            var nuevo = new google.maps.Marker({
                position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                map: map
            });
            markers.push(nuevo);
        }

        for (i = 0; i<markers.length; i++) {
            var vendedor = arreglo_v[i].split(",");
            var info_vendedor = cuerpoDelInfowindow(vendedor);

            markers[i].infowindow = new google.maps.InfoWindow({
              content: info_vendedor
            });
            google.maps.event.addListener(markers[i], 'click', function() {
                this.infowindow.open(map, this);
            });
        }

        // posicion actual
        if (navigator.geolocation) {
          navigator.geolocation.getCurrentPosition(function(position) {
            var pos = {
              lat: position.coords.latitude,
              lng: position.coords.longitude
            }
            map.setCenter(pos);
          }, function() {
            handleLocationError(true, infoWindow, map.getCenter());
          });
        } else {
          // Browser doesn't support Geolocation
          handleLocationError(false, infoWindow, map.getCenter());
        }
      }
      
      function agregarMarcadoresfiltrados(categorias) {
            var v = "{{vendedores}}"; //nombre, avatar, lat, longitud, id, categorias
            var arreglo_v = v.split(";");
            arreglo_v = filtrarVendedores(arreglo_v,categorias);
            for (i = 0; i<arreglo_v.length; i++) {
                var vendedor = arreglo_v[i].split(",");
                var categorias_vendedor = vendedor[5].split(":");
                var nuevo = new google.maps.Marker({
                    position: {lat: parseFloat(vendedor[2]), lng: parseFloat(vendedor[3])},
                    map: map
                });
                markers.push(nuevo);
            }

            for (i = 0; i<markers.length; i++) {
                var vendedor = arreglo_v[i].split(",");
                var info_vendedor = cuerpoDelInfowindow(vendedor);

                markers[i].infowindow = new google.maps.InfoWindow({
                  content: info_vendedor
                });
                google.maps.event.addListener(markers[i], 'click', function() {
                    this.infowindow.open(map, this);
                });
            }
      }

      function filtrarVendedores(vendedores,categorias) {
          var vendedores_filtrados = [];
          var categorias_string = categorias.toString();
          for (i = 0; i<vendedores.length; i++) {
              var condicion = false;
              var categorias_vendedor = vendedores[i].split(",")[5].split(":");
              for (j = 0; j< categorias_vendedor.length; j++) {
                  if (categorias_string.indexOf(categorias_vendedor[j]) != -1) {
                      condicion = true;
                      break;
                  }
              }
              if (condicion) {
                  vendedores_filtrados.push(vendedores[i]);
              }
          }
          return vendedores_filtrados;
      }

      function deleteMarkers() {
          for (i = 0; i<markers.length; i++) {
              markers[i].setMap(null);
          }
          markers = [];
      }
      function addDummyMarker() {
          var nuevo = new google.maps.Marker({
                position: {lat: -33.4578686431941, lng: -70.6641697883606},
                map: map
          });
          markers.push(nuevo);
          var info_vendedor = "Hola";
          markers[markers.length-1].infowindow = new google.maps.InfoWindow({
              content: info_vendedor
            });
          google.maps.event.addListener(markers[markers.length-1], 'click', function() {
                this.infowindow.open(map, this);
            });
      }

      function cuerpoDelInfowindow(vendedor) {
          var info = '<div id="content">'+
            '<div id="siteNotice">'+
            '</div>'+
            '<div><p style="float: left;"><img src="../static/media/'+ vendedor[1] +'" width="50" hspace="10"></p>' +
            '<h4>'+ vendedor[0] +'</h4></div>'+ //vendedor
//            '<p style="color:#029500;"> Disponible</p>' +
//            '<div id="bodyContent">'+
//            '<p>Vendedores de almuerzo</p>'+
//            '<p><i>Menú de hoy:</i> Lasaña</p>' +
//            '<p><i>Formas de pago:</i> Efectivo, Tarjeta de Crédito o Débito, Junaeb</p>' +
//            '<p><i>Horario:</i> 12:30-14:15</p>' +
//            '<p><input type="checkbox" class="filled-in" id="test" checked="checked" />' +
//            '<label for="test">Favorito</label></p>' +
            "<form method = \"GET\" action =\"{% url 'vistaVendedor' %}\">{% csrf_token %}" +
            '<input type = "hidden" value =' + vendedor[4] +' name="id" id="id">' +
            '<button style="float: right;" type = "submit">Ver ficha del vendedor</button>' +
            '</form>' +
            '</div>'+
            '</div>';
          return info;
      }

      function handleLocationError(browserHasGeolocation, infoWindow, pos) {
//        infoWindow.setPosition(pos);
//        infoWindow.setContent(browserHasGeolocation ?
//                              'Error: The Geolocation service failed.' :
//                              'Error: Your browser doesn\'t support geolocation.');
//        infoWindow.open(map);
      }
    </script>
    <script async defer
    src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDilbsVtQUD7bOOlJwGMRF4jV8rz3H5E6c&callback=initMap">
    </script>
{% endblock %}
